/* FADE UP */

.fade-up {
    animation: fadeUpOpacity 1.5s ease-in 0.4s;
    animation-fill-mode: both;
}

@keyframes fadeUpOpacity {
    from {
        transform: translate3d(0,6px,0);
        opacity: 0;
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

/* FADE IN */

.fade-in {
    animation: fadeInOpacity 2.7s ease-in 4.4s;
    animation-fill-mode: both;
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* SLIDE LEFT */

.slide {
    animation: slide 2s forwards 2.2s 1;
    animation-fill-mode: both;
}

@keyframes slide {
    from {
        transform: translate3d(660px,0,0);
        //opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        //opacity: 1;
    }
}


/* FADE RIGHT */

.fade-right {
    animation: fadeRight 2s linear 5s 1;
	// animation-name: fadeRight;
    // animation-duration: 2s;
    // animation-iteration-count: 1;

    // animation-delay: 5s;
}

@keyframes fadeRight {
    from {
        transform: translate3d(-100px,0,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}