
.photoWrapper {
    display: inline-flex;
    width: 100%;
    height: 400px;
    align-items: center;
}

.photoLeftSpace {
  flex: 0.10;
}

.photoRightSpace {
  flex: 0.10;
}

.photoMiniGallery {
    flex: 0.40;
    text-align: center;
}

.minigalleryRow {
    display: inline-flex;
    padding-bottom: 10px;
}

.miniPhoto {
    flex: 1;
    width: 155px;
    padding-right: 10px;
}

.miniPhotoLast {
  flex: 1;
  width: 140px;
}

.titleMiniGallery {
    flex: 0.40;
    text-align: center;
}

.galleryTitle {
    font-size: 40px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    border-width: 0px;
    cursor: pointer;
}

.galleryTitle:focus {
    outline:0;
}

.example {
  .hover {
    padding: 0;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 3px;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
    }
    &.hover-1 {
      &:before,
      &:after {
        left: 0;
      }
    }
  }
  &:hover {
    .hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 900px){
  
  .photoWrapper {
    flex-direction: column;
  }

  .titleMiniGallery {
    padding-bottom: 30px;
  }

}
