.photoTitleMiniGallery {
    text-align: center;
    font-size: 45px;
    font-weight: light
    font-family: 'Open Sans', sans-serif;
    padding-top: 110px;
}

@media screen and (max-width: 900px){
  
    .photoTitleMiniGallery{
        padding-bottom: 70px;
    }
  
  }
