.content {
    display: inline-flex;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color:#c3ac9c;
    padding-bottom: 50px;
}

.introTextWrapper {
    flex: 1;
    text-align: center;
}

.hiText {
    color: white;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 20px;
}

.innerIntroTextWrapper {
    width: 510px;
    margin: auto;
}

.welcomeText {
    text-align: right;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.imageWrapper {
    flex: 1;
    overflow: hidden;
    text-align: center;
}

.profilePic {
    height: 450px;
}

@media screen and (max-width: 1240px){
    .profilePic {
        height: 380px;
    }

    .hiText {
        font-size: 35px;
    }

    .innerIntroTextWrapper {
        width: 450px;
    }

    .welcomeText {
        font-size: 17.5px;
    }
}

@media screen and (max-width: 1000px){
    .content {
        display: block;
        height: 670px;
    }
    
    .introTextWrapper {
        flex: none;
    }

    .hiText {
        padding-top: 50px;
    }

    .welcomeText {
        padding-bottom: 50px;
    }
    
    .imageWrapper {
        flex: none;
    }

    .welcomeText {
        text-align: center;
    } 
    
    .profilePic {
        height: 380px;
    }
    
}

@media screen and (max-width: 509px){
    .welcomeText {
        padding-bottom: 59px;
    }

    .profilePic {
        height: 330px;
    }
}

