.recentlyWrapper {
    padding-top: 150px;
    padding-bottom: 200px;
    align-items: center;
    text-align: center;
    background-color:#fdf0e5;
}

.recentlyImage {
    height: 250px;
    padding-right: 60px;
}

.recentlyTitle {
    color: #333333;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.recentlyParagraph {
    padding-right: 200px;
    padding-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 20px;
    letter-spacing: 1pt;
    line-height: 30px;
}