.yellowstonePhotoWrapper {
    padding-top: 30px;
}

.yellowstoneHover {
    &:after {
        background-color: #F8D680;
    }
}

@media screen and (max-width: 900px){
  
    .yellowstonePhotoWrapper {
      padding-top: 100px;
    }
  
  }