.heading {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #121a21;
}

.name {
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    margin: auto;
}

.navigationBar {
    padding-top: 10px;
    padding-bottom: 2px;
}

.navigationItem {
    background-color: #121a21;
    border-width: 0;
    cursor: pointer;
}

.navigationItem:focus {
    outline:0;
}

.navHyperLink {
    color: #B4B4B4;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 13px;
}

.navHyperLink:hover {
    color: white;
}


