.chinaPhotoWrapper {
    padding-top: 85px;
}

@media screen and (max-width: 900px){
  
    .chinaPhotoMiniGallery {
        order: 2;
    }

    .chinaTitleMiniGallery {
        order: 1;
    }

    .chinaPhotoWrapper {
        padding-top: 0px;
    }
  
}

.chinaHover {
    &:after {
        background-color: darken(orange,1%);
    }
}
