.icelandPhotoWrapper {
    padding-top: 30px;
  }
  
  .icelandHover {
    &:after {
      background-color: #505898;
    }
  }
  
  @media screen and (max-width: 900px){
    .icelandPhotoWrapper {
      padding-top: 100px;
    }
  }