.japanPhotoWrapper {
  padding-top: 30px;
}

.japanHover {
  &:after {
    background-color: pink;
  }
}

@media screen and (max-width: 900px){
  
  .japanPhotoWrapper {
    padding-top: 100px;
  }

}