.aboutMe {
    display: inline-flex;
    align-items: center;
    height: 850px;
    width: 100%;
    background-color:#fdf0e5;
}

.aboutMeLeft {
    flex: 0.15
}



//// IMAGES ////

.aboutMeImageWrapper {
    flex: 0.35;
    display: inline-flex;
}

.aboutMeColumn1 {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 30px;
}

.aboutMeImage {
    width: 200px;
    padding-bottom: 20px;
}

.aboutMeColumn2 {
    display: flex;
    flex-direction: column;
}

///////////////////////////

.aboutMeTextWrapper {
    flex: 0.35;  
}

.aboutMeText {
    width: 512px;
    margin: auto;
}

.aboutMeTitle {
    font-size: 30px;
    padding-left: 30px;
}

.aboutMeParagraph {
    line-height: 0.75cm;
    padding-left: 30px;
}

.aboutMeRight {
    flex: 0.15
}


@media screen and (max-width: 1000px){
    .aboutMeImage {
        width: 150px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 900px){
    .aboutMe {
        flex-direction: column;
        padding-bottom: 130px;
    }
    
    .aboutMeImageWrapper {
        order: 2;
    }

    .aboutMeTextWrapper {
        order: 1;
        padding-bottom: 20px;
    }
}
